#title, #start{
    background-color: aliceblue;
    text-align: center;
    font-family: Arial;
    box-shadow: 0px 0px 10px black;
}
body{
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    text-align: center;
    background-repeat:no-repeat;
}
#start{
    font-size: x-large
}
#sound{
    font-family: Arial;
    color: white;
    text-shadow: 0px 0px 10px black;
    font-size: 1in;
}
#accuracy{
    font-family: Arial;
    color: white;
    text-shadow: 0px 0px 10px black;
}
#copyright{
    font-family: Arial;
    color: white;
    text-shadow: 0px 0px 10px black;
    bottom: 3cm;
    position: fixed
}